{
    "chain_name": "ICS-Apollo",
    "provider_chain": {
        "api": "https://rest.provider-sentry-01.goc.earthball.xyz"
    },
    "api": ["https://apollo.api.ping.pub/"],
    "rpc": ["http://10.42.44.190:36657"],
    "snapshot_provider": "",
    "sdk_version": "v0.45.7",
    "coin_type": "118",
    "min_tx_fee": "800",
    "addr_prefix": "cosmos",
    "logo": "/logos/GOC.png",
    "assets": [{
        "base": "upol",
        "symbol": "POL",
        "exponent": "6",
        "coingecko_id": "", 
        "logo": "/logos/GOC.png"
    }]
}